.money-transfer {
    color: darkgray;
    font-weight: 700;
}

.money-income {
    color: green;
    font-weight: 700;
}

.money-outcome {
    color: indianred;
    font-weight: 700;
}

.product-description {
    align-content: center;
    font-weight: 700;
}

.fund-description {
    font-size: 80%;
    align-content: center;
    font-weight: 700;
}

.avatar {
    border-radius: 50%;
}